{
  "log": {
    "disabled": false,
    "level": "info",
    "output": "",
    "timestamp": false
  },
  "experimental": {
    "clash_api": {
      "external_controller": "127.0.0.1:20123",
      "external_ui": "",
      "external_ui_download_url": "",
      "external_ui_download_detour": "🎯 全球直连",
      "secret": "860a0ddf740573ec6fe46fa81fb1857e18f2ee8673c328cf33cac376ad295544",
      "default_mode": "rule",
      "access_control_allow_origin": [
        "*"
      ],
      "access_control_allow_private_network": false
    },
    "cache_file": {
      "enabled": true,
      "path": "cache.db",
      "cache_id": "",
      "store_fakeip": true,
      "store_rdrc": true,
      "rdrc_timeout": "7d"
    }
  },
  "inbounds": [
    {
      "type": "mixed",
      "tag": "mixed-in",
      "listen": "127.0.0.1",
      "listen_port": 20122,
      "tcp_fast_open": false,
      "tcp_multi_path": false,
      "udp_fragment": false
    }
  ],
  "outbounds": [
    {
      "type": "selector",
      "tag": "🚀 节点选择",
      "interrupt_exist_connections": true,
      "outbounds": [
        "🎈 自动选择",
        "ID_wx62ai68 | 🇦🇪 阿联酋 01",
        "ID_wx62ai68 | 🇦🇺 澳大利亚 01",
        "ID_wx62ai68 | 🇧🇷 巴西 01",
        "ID_wx62ai68 | 🇨🇦 加拿大 01",
        "ID_wx62ai68 | 🇨🇭 瑞士 01",
        "ID_wx62ai68 | 🇨🇱 智利 01",
        "ID_wx62ai68 | 🇨🇱 智利 02",
        "ID_wx62ai68 | 🇨🇱 智利 03",
        "ID_wx62ai68 | 🇨🇳 中国 01",
        "ID_wx62ai68 | 🇨🇳 中国 02",
        "ID_wx62ai68 | 🇨🇳 中国 03",
        "ID_wx62ai68 | 🇨🇳 中国 04",
        "ID_wx62ai68 | 🇨🇳 中国 05",
        "ID_wx62ai68 | 🇨🇳 中国 06",
        "ID_wx62ai68 | 🇨🇴 哥伦比亚 01",
        "ID_wx62ai68 | 🇩🇪 德国 01",
        "ID_wx62ai68 | 🇪🇸 西班牙 01",
        "ID_wx62ai68 | 🇫🇷 法国 01",
        "ID_wx62ai68 | 🇬🇧 英国 01",
        "ID_wx62ai68 | 🇬🇧 英国 02",
        "ID_wx62ai68 | 🇭🇰 香港 01",
        "ID_wx62ai68 | 🇭🇰 香港 02",
        "ID_wx62ai68 | 🇭🇰 香港 03",
        "ID_wx62ai68 | 🇭🇰 香港 04",
        "ID_wx62ai68 | 🇭🇰 香港 05",
        "ID_wx62ai68 | 🇭🇰 香港 06",
        "ID_wx62ai68 | 🇮🇱 以色列 01",
        "ID_wx62ai68 | 🇮🇳 印度 01",
        "ID_wx62ai68 | 🇯🇵 日本 01",
        "ID_wx62ai68 | 🇯🇵 日本 02",
        "ID_wx62ai68 | 🇯🇵 日本 03",
        "ID_wx62ai68 | 🇯🇵 日本 04",
        "ID_wx62ai68 | 🇯🇵 日本 05",
        "ID_wx62ai68 | 🇯🇵 日本 06",
        "ID_wx62ai68 | 🇰🇷 韩国 01 首尔",
        "ID_wx62ai68 | 🇰🇷 韩国 02",
        "ID_wx62ai68 | 🇲🇽 墨西哥 01",
        "ID_wx62ai68 | 🇳🇱 荷兰 01",
        "ID_wx62ai68 | 🇸🇦 沙特 01",
        "ID_wx62ai68 | 🇸🇬 新加坡 01",
        "ID_wx62ai68 | 🇸🇬 新加坡 02",
        "ID_wx62ai68 | 🇸🇬 新加坡 03",
        "ID_wx62ai68 | 🇸🇬 新加坡 04",
        "ID_wx62ai68 | 🇸🇬 新加坡 05",
        "ID_wx62ai68 | 🇸🇬 新加坡 06",
        "ID_wx62ai68 | 🇹🇭 泰国 01",
        "ID_wx62ai68 | 🇺🇸 美国 01",
        "ID_wx62ai68 | 🇺🇸 美国 02",
        "ID_wx62ai68 | 🇺🇸 美国 03",
        "ID_wx62ai68 | 🇺🇸 美国 04",
        "ID_wx62ai68 | 🇺🇸 美国 05",
        "ID_wx62ai68 | 🇺🇸 美国 06",
        "ID_wx62ai68 | 🇿🇦 南非 01",
        "我的vps"
      ]
    },
    {
      "type": "urltest",
      "tag": "🎈 自动选择",
      "url": "https://www.gstatic.com/generate_204",
      "interval": "3m",
      "tolerance": 150,
      "interrupt_exist_connections": true,
      "outbounds": [
        "ID_wx62ai68 | 🇦🇪 阿联酋 01",
        "ID_wx62ai68 | 🇦🇺 澳大利亚 01",
        "ID_wx62ai68 | 🇧🇷 巴西 01",
        "ID_wx62ai68 | 🇨🇦 加拿大 01",
        "ID_wx62ai68 | 🇨🇭 瑞士 01",
        "ID_wx62ai68 | 🇨🇱 智利 01",
        "ID_wx62ai68 | 🇨🇱 智利 02",
        "ID_wx62ai68 | 🇨🇱 智利 03",
        "ID_wx62ai68 | 🇨🇳 中国 01",
        "ID_wx62ai68 | 🇨🇳 中国 02",
        "ID_wx62ai68 | 🇨🇳 中国 03",
        "ID_wx62ai68 | 🇨🇳 中国 04",
        "ID_wx62ai68 | 🇨🇳 中国 05",
        "ID_wx62ai68 | 🇨🇳 中国 06",
        "ID_wx62ai68 | 🇨🇴 哥伦比亚 01",
        "ID_wx62ai68 | 🇩🇪 德国 01",
        "ID_wx62ai68 | 🇪🇸 西班牙 01",
        "ID_wx62ai68 | 🇫🇷 法国 01",
        "ID_wx62ai68 | 🇬🇧 英国 01",
        "ID_wx62ai68 | 🇬🇧 英国 02",
        "ID_wx62ai68 | 🇭🇰 香港 01",
        "ID_wx62ai68 | 🇭🇰 香港 02",
        "ID_wx62ai68 | 🇭🇰 香港 03",
        "ID_wx62ai68 | 🇭🇰 香港 04",
        "ID_wx62ai68 | 🇭🇰 香港 05",
        "ID_wx62ai68 | 🇭🇰 香港 06",
        "ID_wx62ai68 | 🇮🇱 以色列 01",
        "ID_wx62ai68 | 🇮🇳 印度 01",
        "ID_wx62ai68 | 🇯🇵 日本 01",
        "ID_wx62ai68 | 🇯🇵 日本 02",
        "ID_wx62ai68 | 🇯🇵 日本 03",
        "ID_wx62ai68 | 🇯🇵 日本 04",
        "ID_wx62ai68 | 🇯🇵 日本 05",
        "ID_wx62ai68 | 🇯🇵 日本 06",
        "ID_wx62ai68 | 🇰🇷 韩国 01 首尔",
        "ID_wx62ai68 | 🇰🇷 韩国 02",
        "ID_wx62ai68 | 🇲🇽 墨西哥 01",
        "ID_wx62ai68 | 🇳🇱 荷兰 01",
        "ID_wx62ai68 | 🇸🇦 沙特 01",
        "ID_wx62ai68 | 🇸🇬 新加坡 01",
        "ID_wx62ai68 | 🇸🇬 新加坡 02",
        "ID_wx62ai68 | 🇸🇬 新加坡 03",
        "ID_wx62ai68 | 🇸🇬 新加坡 04",
        "ID_wx62ai68 | 🇸🇬 新加坡 05",
        "ID_wx62ai68 | 🇸🇬 新加坡 06",
        "ID_wx62ai68 | 🇹🇭 泰国 01",
        "ID_wx62ai68 | 🇺🇸 美国 01",
        "ID_wx62ai68 | 🇺🇸 美国 02",
        "ID_wx62ai68 | 🇺🇸 美国 03",
        "ID_wx62ai68 | 🇺🇸 美国 04",
        "ID_wx62ai68 | 🇺🇸 美国 05",
        "ID_wx62ai68 | 🇺🇸 美国 06",
        "ID_wx62ai68 | 🇿🇦 南非 01",
        "ID_wx62ai68 | 节点超时请尝试重新导入_11",
        "ID_wx62ai68 | 距离下次重置剩余：3 天_2",
        "ID_wx62ai68 | 套餐到期：2025-09-18_3"
      ]
    },
    {
      "type": "direct",
      "tag": "🎯 全球直连"
    },
    {
      "type": "selector",
      "tag": "🐟 漏网之鱼",
      "interrupt_exist_connections": true,
      "outbounds": [
        "🚀 节点选择",
        "🎯 全球直连"
      ]
    },
    {
      "type": "selector",
      "tag": "GLOBAL",
      "interrupt_exist_connections": true,
      "outbounds": [
        "🚀 节点选择",
        "🎈 自动选择",
        "🎯 全球直连",
        "🐟 漏网之鱼"
      ]
    },
    {
      "type": "vless",
      "tag": "我的vps",
      "server": "38.182.101.246",
      "server_port": 443,
      "uuid": "cb8455f0-8d33-4937-d67d-38367e576154",
      "flow": "xtls-rprx-vision",
      "packet_encoding": "xudp",
      "tls": {
        "enabled": true,
        "server_name": "www.lovelive-anime.jp",
        "insecure": false,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        },
        "reality": {
          "enabled": true,
          "public_key": "qhTzYYIgBzDLNYR79oxftqdo1kzL-1_hGJKfqrOliCY",
          "short_id": ""
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇦🇪 阿联酋 01",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 34281,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇦🇺 澳大利亚 01",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 48389,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇧🇷 巴西 01",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 41715,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇨🇦 加拿大 01",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 13475,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇨🇭 瑞士 01",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 41717,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇨🇱 智利 01",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 33579,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇨🇱 智利 02",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 33579,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇨🇱 智利 03",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 30293,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇨🇳 中国 01",
      "type": "hysteria2",
      "server": "141.11.42.125",
      "server_port": 443,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "www.bing.com",
        "insecure": true
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇨🇳 中国 02",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 48082,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇨🇳 中国 03",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 48082,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇨🇳 中国 04",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 48082,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇨🇳 中国 05",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 48082,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇨🇳 中国 06",
      "type": "trojan",
      "server": "ipv6.sffyn.com",
      "server_port": 48082,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇨🇴 哥伦比亚 01",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 33081,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇩🇪 德国 01",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 17107,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇪🇸 西班牙 01",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 59719,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇫🇷 法国 01",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 12286,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇬🇧 英国 01",
      "type": "hysteria2",
      "server": "140.235.141.167",
      "server_port": 443,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "www.bing.com",
        "insecure": true
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇬🇧 英国 02",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 57447,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇭🇰 香港 01",
      "type": "hysteria2",
      "server": "140.235.141.167",
      "server_port": 443,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "www.bing.com",
        "insecure": true
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇭🇰 香港 02",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 33579,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇭🇰 香港 03",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 33579,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇭🇰 香港 04",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 33579,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇭🇰 香港 05",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 33579,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇭🇰 香港 06",
      "type": "trojan",
      "server": "ipv6.sffyn.com",
      "server_port": 33579,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇮🇱 以色列 01",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 27436,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇮🇳 印度 01",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 58771,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇯🇵 日本 01",
      "type": "hysteria2",
      "server": "5.34.220.41",
      "server_port": 443,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "www.bing.com",
        "insecure": true
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇯🇵 日本 02",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 41507,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇯🇵 日本 03",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 41507,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇯🇵 日本 04",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 41507,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇯🇵 日本 05",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 41507,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇯🇵 日本 06",
      "type": "trojan",
      "server": "ipv6.sffyn.com",
      "server_port": 41507,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇰🇷 韩国 01 首尔",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 42569,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇰🇷 韩国 02",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 31080,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇲🇽 墨西哥 01",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 45837,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇳🇱 荷兰 01",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 14119,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇸🇦 沙特 01",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 38492,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇸🇬 新加坡 01",
      "type": "hysteria2",
      "server": "141.11.43.220",
      "server_port": 443,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "www.bing.com",
        "insecure": true
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇸🇬 新加坡 02",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 27663,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇸🇬 新加坡 03",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 27663,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇸🇬 新加坡 04",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 27663,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇸🇬 新加坡 05",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 27663,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇸🇬 新加坡 06",
      "type": "trojan",
      "server": "ipv6.sffyn.com",
      "server_port": 27663,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇹🇭 泰国 01",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 23284,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇺🇸 美国 01",
      "type": "hysteria2",
      "server": "23.177.40.49",
      "server_port": 443,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "www.bing.com",
        "insecure": true
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇺🇸 美国 02",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 53397,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇺🇸 美国 03",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 53397,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇺🇸 美国 04",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 29525,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇺🇸 美国 05",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 29525,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇺🇸 美国 06",
      "type": "trojan",
      "server": "ipv6.sffyn.com",
      "server_port": 53397,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 🇿🇦 南非 01",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 24109,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 节点超时请尝试重新导入_11",
      "type": "trojan",
      "server": "yuyu.sffyn.com",
      "server_port": 33579,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "mhlnf.cn",
        "insecure": true,
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "tag": "ID_wx62ai68 | 距离下次重置剩余：3 天_2",
      "type": "hysteria2",
      "server": "140.235.141.167",
      "server_port": 443,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "www.bing.com",
        "insecure": true
      }
    },
    {
      "tag": "ID_wx62ai68 | 套餐到期：2025-09-18_3",
      "type": "hysteria2",
      "server": "140.235.141.167",
      "server_port": 443,
      "password": "1f3f63c2-dee3-440a-8402-63a2c8018939",
      "tls": {
        "enabled": true,
        "server_name": "www.bing.com",
        "insecure": true
      }
    }
  ],
  "route": {
    "rules": [
      {
        "action": "hijack-dns",
        "protocol": "dns"
      },
      {
        "action": "route",
        "clash_mode": "direct",
        "outbound": "🎯 全球直连"
      },
      {
        "action": "route",
        "clash_mode": "global",
        "outbound": "GLOBAL"
      },
      {
        "action": "reject",
        "protocol": "quic"
      },
      {
        "action": "reject",
        "rule_set": [
          "Category-Ads"
        ]
      },
      {
        "action": "route",
        "rule_set": [
          "GeoSite-Private"
        ],
        "outbound": "🎯 全球直连"
      },
      {
        "action": "route",
        "rule_set": [
          "GeoSite-CN"
        ],
        "outbound": "🎯 全球直连"
      },
      {
        "action": "route",
        "rule_set": [
          "GeoIP-Private"
        ],
        "outbound": "🎯 全球直连"
      },
      {
        "action": "route",
        "rule_set": [
          "GeoIP-CN"
        ],
        "outbound": "🎯 全球直连"
      },
      {
        "action": "route",
        "rule_set": [
          "GeoLocation-!CN"
        ],
        "outbound": "🚀 节点选择"
      },
      {
        "action": "route",
        "rule_set": [
          "tiktok-geosite.srs"
        ],
        "outbound": "🚀 节点选择"
      }
    ],
    "rule_set": [
      {
        "tag": "tiktok-geosite.srs",
        "type": "remote",
        "url": "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@sing/geo/geosite/tiktok.srs",
        "format": "binary",
        "download_detour": "🎯 全球直连"
      },
      {
        "tag": "Category-Ads",
        "type": "remote",
        "url": "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@sing/geo/geosite/category-ads-all.srs",
        "format": "binary",
        "download_detour": "🎯 全球直连"
      },
      {
        "tag": "GeoIP-Private",
        "type": "remote",
        "url": "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@sing/geo/geoip/private.srs",
        "format": "binary",
        "download_detour": "🎯 全球直连"
      },
      {
        "tag": "GeoSite-Private",
        "type": "remote",
        "url": "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@sing/geo/geosite/private.srs",
        "format": "binary",
        "download_detour": "🎯 全球直连"
      },
      {
        "tag": "GeoIP-CN",
        "type": "remote",
        "url": "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@sing/geo/geoip/cn.srs",
        "format": "binary",
        "download_detour": "🎯 全球直连"
      },
      {
        "tag": "GeoSite-CN",
        "type": "remote",
        "url": "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@sing/geo/geosite/cn.srs",
        "format": "binary",
        "download_detour": "🎯 全球直连"
      },
      {
        "tag": "GeoLocation-!CN",
        "type": "remote",
        "url": "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@sing/geo/geosite/geolocation-!cn.srs",
        "format": "binary",
        "download_detour": "🎯 全球直连"
      }
    ],
    "auto_detect_interface": true,
    "find_process": true,
    "final": "🐟 漏网之鱼",
    "default_domain_resolver": {
      "server": "Remote-DNS"
    }
  },
  "dns": {
    "servers": [
      {
        "tag": "Local-DNS",
        "type": "https",
        "domain_resolver": "Local-DNS-Resolver",
        "server_port": 443,
        "server": "223.5.5.5",
        "path": "/dns-query"
      },
      {
        "tag": "Local-DNS-Resolver",
        "type": "udp",
        "server_port": 53,
        "server": "223.5.5.5"
      },
      {
        "tag": "Remote-DNS",
        "type": "tls",
        "detour": "🚀 节点选择",
        "domain_resolver": "Remote-DNS-Resolver",
        "server_port": 853,
        "server": "8.8.8.8"
      },
      {
        "tag": "Remote-DNS-Resolver",
        "type": "udp",
        "detour": "🚀 节点选择",
        "server_port": 53,
        "server": "8.8.8.8"
      }
    ],
    "rules": [
      {
        "action": "route",
        "clash_mode": "direct",
        "server": "Local-DNS"
      },
      {
        "action": "route",
        "clash_mode": "global",
        "server": "Remote-DNS"
      },
      {
        "action": "route",
        "rule_set": [
          "GeoSite-CN"
        ],
        "server": "Local-DNS"
      },
      {
        "action": "route",
        "rule_set": [
          "GeoLocation-!CN"
        ],
        "server": "Remote-DNS"
      }
    ],
    "disable_cache": false,
    "disable_expire": false,
    "independent_cache": false,
    "final": "Remote-DNS",
    "strategy": "ipv4_only"
  }
}
